version: "3.8"

services:
  server:
    image: ${DOCKER_USERNAME}/ai-anime-server:latest
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - ENVIRONMENT=production
      - PYTHONUNBUFFERED=1
      - DEBUG=False
      - KLING_ACCESS_KEY=${KLING_ACCESS_KEY}
      - KLING_SECRET_KEY=${KLING_SECRET_KEY}
    restart: always

  client:
    image: ${DOCKER_USERNAME}/ai-anime-client:latest
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - server
    restart: always
